<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
</head>
<body>
    <div id="j-window" class="window">
        <header class="header">
            <h1 class="header__title">Выберите друзей </h1>
            <p class="header__name j-name"></p>
        </header>
        <article class="content j-move-area">
            <div class="vk-friend">
                <div class="friend__find-wrapper">
                    <input class="friend__find j-vk-friend__find" type="text" placeholder="Начните вводить имя друга" />
                </div>
                <div class="fried-block">
                    <p class="fiend-block__name">Ваши друзья</p>
                    <ul class="friend-list j-vk-friend__list"></ul>
                </div>

            </div>
             <div class="my-friend">
                <div class="friend__find-wrapper">
                    <input class="friend__find j-my-friend__find" type="text" placeholder="Начните вводить имя друга" />
                </div>
                <div class="fried-block">
                    <p class="fiend-block__name">Друзья в списке</p>
                    <ul class="friend-list j-my-friend__list"></ul>
                </div>
             </div>
        </article>
        <footer class="footer">
            <button class="footer__btn">Сохранить</button>
        </footer>
    </div>
</body>
</html>
