html, body{
    width: 100%;
    height: 100%;
}

body{
    position: relative;
    background-color: #888;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #333;
}

.window{
    overflow: hidden;
    width: 1000px;
    height: 700px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    background-color: #CCC;
}


.header{
    background-color: #FF8888;
}

.header__title{
    margin: 0;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #EEE;
}

.header__name{
    margin: 0;
    padding: 8px;
    text-align: center;
    width: 100%;
    background-color: #EEE;
    font-size: 16px;
}
.content{
    background-color: #EEE;
    padding-right: 1px;
}
.content:after{
    content:"";
    display: block;
    clear: both;
}

.content:before{
    position: absolute;
    left:50%;
    width: 1px;
    height: 100%;
    top: 160px;
    bottom: 120px;
    background-color: #BBB;
    content:"";
    display: block;
    clear: both;
}

.vk-friend {
    box-sizing: border-box;
    width: 50%;
    float: left;
    
}

.my-friend {
    box-sizing: border-box;
    width: 50%;
    float: right;
    margin-right: -1px;
}

.friend__find{
    width: 100%;
    border-radius: 15px;
    display: block;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 9px;
    font-size: 15px;
    padding-left: 35px;
}

.friend__find-wrapper{
    background-color: #CCC;
    position: relative;
    padding:10px 20px;
}

.friend__find-wrapper:before{
    display: block;
    position: absolute;
    top:0;
    bottom:0;
    margin-top: auto;
    margin-bottom: auto;
    left: 30px;
    width: 25px;
    height: 25px;
    content:"🔍";
    color: #888;

    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
}

.fried-block{
    padding: 0 20px;
    position: relative;

}




.fiend-block__name{
    padding: 5px 0;
    font-size: 14px;
    font-weight: bold;
}


.footer{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: #CCC;
    text-align: right;
}

.footer__btn{
    border:none;
    margin: 0;
    font-size: 15px;
    background-color: #FF8888;
    border-radius: 18px;
    color: #EEE;
    padding: 8px;
    display: inline-block;
}



.friend-list{
    list-style: none;
    display: block;
    padding: 0;
    height: 440px;
    overflow: auto;
}

.list-item{
    display: block;
    height: 88px;
    padding: 10px;
    border-bottom: 1px solid #BBB;
    position: relative;


}

.list-item:hover{
    background-color: #CCC;
}

.list-item__name{

}
.list-item__img{
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 0px;
    margin-right: 20px;
}

.list-item__button{
    position: absolute;
    float: right;
    height: 44px;
    width: 44px;
    background: none;
    box-shadow: none;
    border: none;
    right: 10px;
    top: 22px;
    padding: 0;
    cursor: pointer;
}


.list-item__button:before{
    position: absolute;
    content: "";
    display: block;
    width: 6px;
    height: 44px;
    background-color: #444;
    left: 19px;
    top: 0px;
}

.list-item__button:after{
    position: absolute;
    content: "";
    display: block;
    width: 44px;
    height: 6px;
    background-color: #444;
    left: 0px;
    top: 19px;
}

.list-item__button_del:before{
    transform: rotate(45deg);
}

.list-item__button_del:after{
    transform: rotate(45deg);
}

.move-item{
    position: absolute;
    width: 422px;
    border:1px solid #444;
    list-style: none;
    background-color: #CCC;
}