#homework-container{
    border: 1px solid red;
    padding: 5px;
}

#loading-block{
    padding: 5px;
    color: green;
    border: 1px dashed yellow;
}

#filter-block{
    margin-top: 30px;
}

#filter-input{
    width: 100%;
}

#filter-result{
    list-style: none;
    padding: 0;
    margin: 0;
}

#filter-result li {
    border: 1px solid black;
    border-bottom: none;
    float: left;
    padding: 5px;
    display: block;
    float: none;
}

#filter-result li:last-child{
    border-bottom: 1px solid black;

}

#error-block{
    color: red;
    display: none;
}